//THE COMMENT BELOW IS A NOTE THAT WILL APPEAR IN GENERATED .css, 
//IT DOES NOT APPLY TO THIS .scss FILE, SO YOU MAY EDIT IT.

    $scrollTrack_bgColor: #ededed;
    $scrollTrack_down_bgColor: $default_border_dark_color;
    $scrollTrack_over_bgColor: hsl(0, 0%, 85.5%);
    $scrollTrack_disabled_background: background(linear-gradient(top,(#e3e3e3, #efefef 20%, #f2f2f2 90%, $scrollTrack_bgColor)) padding-box);

//*===========* Tahoe CSS Customization *===========*/

// simpleTile
.simpleTileOver {
    @include background-image(linear-gradient(top,(
        $standard_bgColor 0%, 
        hsl(0, 0%, 89%) 100%)));
}

.simpleTileSelected,
.simpleTileSelectedOver {
    @include background-image(linear-gradient(top,(
        $standard_bgColor 0%, 
        hsl(0, 0%, 89%) 100%)));
}

// scroll corner
.scrollCorner,
.scrollCornerDown,
.scrollCornerOver {
    @include background-image(linear-gradient(top,(#f2f2f2, #ebebeb 50%, $menuButton_disabled_border_color 50%, #cfcfcf)));
}
