<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.logicaldoc.util.log4j">
	<Properties>
		<Property name="root">target</Property>
		<Property name="pattern">%d{dd.MM.yyyy HH:mm:ss,SSS} %-5p  (%c:%4L) -- %m%n</Property>
		<Property name="dateformat">ISO8601</Property>
	</Properties>
	<Appenders>
		<RollingFile name="file" fileName="${root}/file.log" filePattern="${root}/file.log.%i">
			<PatternLayout>
				<Pattern>${pattern}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="1 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1" />
		</RollingFile>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.logicaldoc" level="info" additivity="false">
			<AppenderRef ref="file" />
		</Logger>
		<Logger name="com.logicaldoc.web.service" level="info" additivity="false">
			<AppenderRef ref="file" />
		</Logger>
		<Logger name="org.hibernate" level="error" additivity="false">
			<AppenderRef ref="file" />
		</Logger>
        <Logger name="org.apache.solr" level="fatal" additivity="false">
			<AppenderRef ref="file" />
		</Logger>
		<Logger name="org.eclipse.jetty" level="fatal" additivity="false">
			<AppenderRef ref="file" />
		</Logger>				
		
		<Root level="warn">
			<AppenderRef ref="file" />
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>