<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="logicaldoc-cmis" version="8.8.3" class="com.logicaldoc.cmis.CmisPlugin">
	<requires>
		<import plugin-id="logicaldoc-core" />
	</requires>
	<extension plugin-id="logicaldoc-core" point-id="Feature" id="f29">
	   <parameter id="name" value="Feature_29" />
    </extension>
</plugin>