<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="no" default-lazy-init="false"
    xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:security="http://www.springframework.org/schema/security"
    xmlns:jms="http://www.springframework.org/schema/jms"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/util 
            http://www.springframework.org/schema/util/spring-util.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security.xsd">
    <import resource="classpath*:context-security.xml" />
    <import resource="classpath*:context/context-*.xml" />
 
    <bean id="MessengerRemoteService" init-method="init" class="com.logicaldoc.web.remote.MessengerRemoteServiceImpl">
        <property name="eventCollector" ref="EventCollector" />
        <property name="config" ref="ContextProperties" />
    </bean>
    
    <!-- This post processor ensures placeholders substitutions -->
    <bean id="PropertyPlaceholderConfigurer" class="com.logicaldoc.util.spring.PropertiesPlaceHolder"
        lazy-init="false" abstract="false" autowire="default">
        <property name="locations">
            <list>
                <value>classpath*:context.properties</value>
            </list>
        </property>
    </bean>
    <bean id="ContextProperties" class="${registry}">
        <property name="maxBackups" value="10" />
    </bean>
    <bean id="Context" class="com.logicaldoc.util.Context" abstract="false"
        lazy-init="default" autowire="default" />
    <!-- DataSource -->
    <bean id="DataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName">
            <value>${jdbc.driver}</value>
        </property>
        <property name="url">
            <value>${jdbc.url}</value>
        </property>
        <property name="username">
            <value>${jdbc.username}</value>
        </property>
        <property name="password">
            <value>${jdbc.password}</value>
        </property>
        <property name="initialSize">
            <value>${jdbc.cp.initialSize}</value>
        </property>
        <property name="maxActive">
            <value>${jdbc.cp.maxActive}</value>
        </property>
        <property name="maxIdle">
            <value>${jdbc.cp.maxIdle}</value>
        </property>                        
        <property name="validationQuery">
            <value>${jdbc.validationQuery}</value>
        </property>
    </bean>
    <!-- Hibernate SessionFactory -->
    <bean id="SessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
        abstract="false" lazy-init="default" autowire="default">
        <property name="dataSource" ref="DataSource" />
        <property name="entityInterceptor">
            <bean class="com.logicaldoc.core.PersistenceObjectInterceptor" />
        </property>
        <property name="mappingLocations" value="classpath*:mappings/*.hbm.xml" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.region.factory_class">${hibernate.cache.factory}</prop>
            </props>
        </property>
    </bean>
    <!--Transaction management -->
    <bean id="TransactionManager"
        class="org.springframework.orm.hibernate5.HibernateTransactionManager"
        abstract="false" lazy-init="default" autowire="default">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    <!--Transactional proxy -->
    <bean id="ApplicationBaseTransactionProxy"
        class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
        lazy-init="true" abstract="false" autowire="default">
        <property name="transactionManager">
            <ref bean="TransactionManager" />
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    
    <bean id="GarbageCollector"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <bean class="com.logicaldoc.web.GarbageCollector" />
        </property>
        <property name="targetMethod" value="gc" />
        <property name="concurrent" value="false" />
    </bean>
    <bean id="GarbageCollectorTrigger"  class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
      <property name="jobDetail" ref="GarbageCollector" />
      <property name="startDelay" value="1000" />
      <property name="repeatInterval" value="2000" />
    </bean>

    <!-- Scheduler -->
    <bean id="Scheduler" class="com.logicaldoc.core.task.SchedulerFactoryBean" destroy-method="destroy">
        <property name="waitForJobsToCompleteOnShutdown" value="true" />
        <property name="triggers">
            <list>
                <ref bean="GarbageCollectorTrigger" />
                <ref bean="IndexOptimizerTrigger" />
                <ref bean="TagsProcessorTrigger" />
                <ref bean="IndexerTaskTrigger" />
                <ref bean="StatsCollectorTrigger" />
            </list>
        </property>
    </bean>
</beans>