<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="logicaldoc-webdav" version="8.7.3" class="com.logicaldoc.webdav.WebDAVPlugin">
	<requires>
		<import plugin-id="logicaldoc-core" />
	</requires>
	
	<extension plugin-id="logicaldoc-core" point-id="Feature" id="fwd59">
	    <parameter id="name" value="Feature_59" />
    </extension>
</plugin>