<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.logicaldoc.util.log4j">
	<Properties>
		<Property name="root">target</Property>
		<Property name="pattern">%d{dd.MM.yyyy HH:mm:ss,SSS} %-5p (%c:%4L) --
			%m%n</Property>
		<Property name="dateformat">ISO8601</Property>
	</Properties>

	<Appenders>
		<RollingFile name="file" fileName="${root}/file.log"
			filePattern="${root}/file.log.%i">
			<PatternLayout>
				<Pattern>${pattern}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="1 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1" />
		</RollingFile>
		<RollingFile name="hikari" fileName="${root}/hikari.log"
			filePattern="${root}/hikari.log.%i">
			<PatternLayout>
				<Pattern>${pattern}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="1 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1" />
		</RollingFile>
		<RollingFile name="hibernate" fileName="${root}/hibernate.log"
			filePattern="${root}/hibernate.log.%i">
			<PatternLayout>
				<Pattern>${pattern}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="1 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="com.logicaldoc" level="error" />
		<Logger name="com.logicaldoc.util.junit.AbstractTestCase" level="fatal" />
		<Logger name="com.logicaldoc.core.conversion" level="debug" />
		<Logger name="com.logicaldoc.util.exec" level="debug" />
		<Logger name="com.logicaldoc.core.communication.EMailSender"
			level="fatal" />
		<Logger name="com.logicaldoc.util.spring.DatabasePropertySource"
			level="fatal" />

		<Logger name="org.apache.cxf" level="fatal" />
		<Logger name="java.sql" level="error" />
		<Logger name="org.hsqldb" level="error" />

		<Logger name="org.hibernate" level="error" additivity="false">
			<Appender-Ref ref="hibernate" />
		</Logger>
		<Logger name="com.zaxxer.hikari" level="error" additivity="false">
			<AppenderRef ref="hikari" />
		</Logger>

		<Root level="fatal">
			<AppenderRef ref="file" />
		</Root>
	</Loggers>
</Configuration>