<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="ConfigTest" status="ERROR" monitorInterval="5">
  <Properties>
    <Property name="root"><![CDATA[target]]></Property>
    <Property name="pattern">%d{dd.MM.yyyy HH:mm:ss,SSS} %-5p (%c:%4L) -- %m%n</Property>
    <Property name="dateformat">ISO8601</Property>
    <Property name="fontsize">x-small</Property>
  </Properties>
  
 <Appenders>
 
    <RollingFile name="FILE" fileName="${root}/file.log" filePattern="${root}/file.log.%i">
      <PatternLayout>
        <Pattern>${pattern}</Pattern>
      </PatternLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="5 MB" />
      </Policies>
      <DefaultRolloverStrategy max="5" />
    </RollingFile>
	
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="[%t] %-5p - %m%n"/>
    </Console>
	
  </Appenders>	
	
  <Loggers>
    <Logger name="org.apache.cxf" level="fatal" additivity="false">
      <Appender-Ref ref="FILE" />
    </Logger>
    <Logger name="com.logicaldoc" level="info" additivity="true">
      <Appender-Ref ref="FILE" />
    </Logger>
	<Root level="error">
		<AppenderRef ref="CONSOLE"/>
    </Root>
  </Loggers>
  
</Configuration>	
