<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd"
         metadata-complete="false"
         version="6.1">
           
  <description>LogicalDOC - Document Management System</description>
  <display-name>LogicalDOC</display-name>
 
  <context-param>
    <param-name>org.apache.chemistry.opencmis.REPOSITORY_CONFIG_FILE</param-name>
    <param-value>/cmis-repository.properties</param-value>
  </context-param>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>com.logicaldoc.util.spring.MainContext</param-value>
  </context-param>
  <context-param>
    <param-name>contextClass</param-name>
    <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
  </context-param>
    
  <session-config>
    <session-timeout>30</session-timeout>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <filter>
    <filter-name>XssFilter</filter-name>
    <filter-class>com.logicaldoc.web.filter.xss.XssFilter</filter-class>
  </filter>  
  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
     <filter-name>CacheControlFilter</filter-name>
     <filter-class>com.logicaldoc.web.filter.CacheControlFilter</filter-class>
  </filter>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>statusEnabledOnHosts</param-name>
      <param-value>localhost</param-value>
    </init-param>
  </filter>
  <filter-mapping>
     <filter-name>CacheControlFilter</filter-name>
     <url-pattern>/*</url-pattern>
     <dispatcher>REQUEST</dispatcher>
  </filter-mapping>  
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XssFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>  
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.logicaldoc.web.listener.ApplicationListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.logicaldoc.web.listener.ContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.apache.chemistry.opencmis.server.impl.CmisRepositoryContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.logicaldoc.web.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uploadresource</servlet-name>
    <servlet-class>com.logicaldoc.web.DocumentResourceUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SecurityService</servlet-name>
    <servlet-class>com.logicaldoc.web.service.SecurityServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginService</servlet-name>
    <servlet-class>com.logicaldoc.web.service.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SystemService</servlet-name>
    <servlet-class>com.logicaldoc.web.service.SystemServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InfoService</servlet-name>
    <servlet-class>com.logicaldoc.web.service.InfoServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchEngineService</servlet-name>
    <servlet-class>com.logicaldoc.web.service.SearchEngineServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DocumentService</servlet-name>
    <servlet-class>com.logicaldoc.web.service.DocumentServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DashletService</servlet-name>
    <servlet-class>com.logicaldoc.web.service.DashletServiceImpl</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>GarbageData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.GarbageDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FolderService</servlet-name>
    <servlet-class>com.logicaldoc.web.service.FolderServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchService</servlet-name>
    <servlet-class>com.logicaldoc.web.service.SearchServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TagService</servlet-name>
    <servlet-class>com.logicaldoc.web.service.TagServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SettingService</servlet-name>
    <servlet-class>com.logicaldoc.web.service.SettingServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetupService</servlet-name>
    <servlet-class>com.logicaldoc.web.service.SetupServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TemplateService</servlet-name>
    <servlet-class>com.logicaldoc.web.service.TemplateServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttributeSetService</servlet-name>
    <servlet-class>com.logicaldoc.web.service.AttributeSetServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageService</servlet-name>
    <servlet-class>com.logicaldoc.web.service.MessageServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TagsData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.TagsDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GroupsData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.GroupsDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UsersData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.UsersDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionsData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.SessionsDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OnlineUsersData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.OnlineUsersDataServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>FoldersData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.FoldersDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MenusData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.MenusDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DocumentsData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.DocumentsDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexingQueueData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.IndexingQueueDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LinksData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.LinksDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FolderAliasesData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.FolderAliasesDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DocumentAliasesData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.DocumentAliasesDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookmarksData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.BookmarksDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NotesData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.NotesDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EventsData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.EventsDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TicketsData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.TicketsDataServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>VersionsData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.VersionsDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DocumentHistoryData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.DocumentHistoryDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FolderHistoryData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.FolderHistoryDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserHistoryData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.UserHistoryDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TemplatesData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.TemplatesDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttributeSetsData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.AttributeSetsDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CharsetsData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.CharsetsDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConversionFormatsData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.ConversionFormatsDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExtensionAliasesData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.ExtensionAliasesDataServlet</servlet-class>
  </servlet>
  <servlet>    
    <servlet-name>FormatConvertersData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.FormatConvertersDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Thumbnail</servlet-name>
    <servlet-class>com.logicaldoc.web.ThumbnailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>com.logicaldoc.web.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadAttachment</servlet-name>
    <servlet-class>com.logicaldoc.web.DownloadAttachmentServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>TicketDownload</servlet-name>
    <servlet-class>com.logicaldoc.web.TicketDownload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PswRecovery</servlet-name>
    <servlet-class>com.logicaldoc.web.PswRecovery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportZip</servlet-name>
    <servlet-class>com.logicaldoc.web.ExportZip</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AclData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.AclDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TasksData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.TasksDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ParsersData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.ParsersDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessagesData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.MessagesDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LanguagesData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.LanguagesDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ContactsData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.ContactsDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DevicesData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.DevicesDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttributesData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.AttributesDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ContactService</servlet-name>
    <servlet-class>com.logicaldoc.web.service.ContactServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DropboxData</servlet-name>
    <servlet-class>com.logicaldoc.dropbox.DropboxDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttributeOptionsData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.AttributeOptionsDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AspectsData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.AspectsDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RatingsDataServlet</servlet-name>
    <servlet-class>com.logicaldoc.web.data.RatingsDataServlet</servlet-class>
  </servlet>    
  <servlet>
    <servlet-name>Log</servlet-name>
    <servlet-class>com.logicaldoc.web.LogDownload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>com.logicaldoc.webservice.WebserviceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConvertPdf</servlet-name>
    <servlet-class>com.logicaldoc.web.ConvertPdf</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>Display</servlet-name>
	<servlet-class>com.logicaldoc.web.DisplayServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>Webdav</servlet-name>
    <servlet-class>com.logicaldoc.webdav.web.WebdavServlet</servlet-class>
    <init-param>
      <param-name>resource-path-prefix</param-name>
      <param-value>/webdav</param-value>
    </init-param>
    <init-param>
      <param-name>resource-config</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
    </init-param>
  </servlet> 
  <servlet>
    <servlet-name>Cmis</servlet-name>
    <servlet-class>com.logicaldoc.cmis.CmisServlet</servlet-class>
    <init-param>
      <param-name>callContextHandler</param-name>
      <param-value>org.apache.chemistry.opencmis.server.shared.BasicAuthCallContextHandler</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>LockedDocsData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.LockedDocsDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletedDocsData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.DeletedDocsDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletedFoldersData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.DeletedFoldersDataServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>DropboxService</servlet-name>
    <servlet-class>com.logicaldoc.dropbox.DropboxServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatChart</servlet-name>
    <servlet-class>com.logicaldoc.web.stat.StatChartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TokenFiltersData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.TokenFiltersDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EventService</servlet-name>
    <servlet-class>de.novanic.eventservice.service.EventServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StoresData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.StoresDataServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>DashletContent</servlet-name>
    <servlet-class>com.logicaldoc.core.dashlet.DashletContent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DashletsData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.DashletsDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Avatar</servlet-name>
    <servlet-class>com.logicaldoc.web.AvatarServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>WebserviceChart</servlet-name>
    <servlet-class>com.logicaldoc.webservice.WebserviceChartServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>JobsData</servlet-name>
	<servlet-class>com.logicaldoc.web.data.JobsDataServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>TimeZonesData</servlet-name>
	<servlet-class>com.logicaldoc.web.data.TimeZonesDataServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>Echo</servlet-name>
	<servlet-class>com.logicaldoc.web.EchoServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>Environment</servlet-name>
	<servlet-class>com.logicaldoc.web.data.EnvironmentDataServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.LogDataServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApiKeysData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.ApiKeysDataServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SequencesData</servlet-name>
    <servlet-class>com.logicaldoc.web.data.SequencesDataServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Legal</servlet-name>
    <servlet-class>com.logicaldoc.web.LegalServlet</servlet-class>
  </servlet>  

  <servlet-mapping>
    <servlet-name>Legal</servlet-name>
    <url-pattern>/legal</url-pattern>
  </servlet-mapping>     
  <servlet-mapping>
    <servlet-name>SequencesData</servlet-name>
    <url-pattern>/data/sequences.xml</url-pattern>
  </servlet-mapping>   
  <servlet-mapping>
    <servlet-name>ApiKeysData</servlet-name>
    <url-pattern>/data/apikeys.xml</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>LogData</servlet-name>
    <url-pattern>/data/log.xml</url-pattern>
  </servlet-mapping>       
  <servlet-mapping>
    <servlet-name>Environment</servlet-name>
    <url-pattern>/data/environment.xml</url-pattern>
  </servlet-mapping>       
  <servlet-mapping>
    <servlet-name>Echo</servlet-name>
    <url-pattern>/echo</url-pattern>
  </servlet-mapping>    
  <servlet-mapping>
    <servlet-name>DashletsData</servlet-name>
    <url-pattern>/data/dashlets.xml</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>DashletContent</servlet-name>
    <url-pattern>/dashletcontent</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>EventService</servlet-name>
    <url-pattern>/frontend/gwteventservice</url-pattern>
  </servlet-mapping>   
  <servlet-mapping>
    <servlet-name>ConversionFormatsData</servlet-name>
    <url-pattern>/data/conversionformats.xml</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>FormatConvertersData</servlet-name>
    <url-pattern>/data/formatconverters.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExtensionAliasesData</servlet-name>
    <url-pattern>/data/extensionaliases.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadresource</servlet-name>
    <url-pattern>/uploadresource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginService</servlet-name>
    <url-pattern>/login/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecurityService</servlet-name>
    <url-pattern>/login/security</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>SecurityService</servlet-name>
    <url-pattern>/frontend/security</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>SettingService</servlet-name>
    <url-pattern>/frontend/setting</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SystemService</servlet-name>
    <url-pattern>/frontend/system</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoService</servlet-name>
    <url-pattern>/frontend/info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoService</servlet-name>
    <url-pattern>/setup/info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoService</servlet-name>
    <url-pattern>/login/info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchEngineService</servlet-name>
    <url-pattern>/frontend/searchengine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumentService</servlet-name>
    <url-pattern>/frontend/document</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DashletService</servlet-name>
    <url-pattern>/frontend/dashlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GarbageData</servlet-name>
    <url-pattern>/data/garbage.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetupService</servlet-name>
    <url-pattern>/setup/setup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FolderService</servlet-name>
    <url-pattern>/frontend/folder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchService</servlet-name>
    <url-pattern>/frontend/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TagService</servlet-name>
    <url-pattern>/frontend/tag</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TemplateService</servlet-name>
    <url-pattern>/frontend/template</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttributeSetService</servlet-name>
    <url-pattern>/frontend/attributeset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageService</servlet-name>
    <url-pattern>/frontend/message</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactService</servlet-name>
    <url-pattern>/frontend/contact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TagsData</servlet-name>
    <url-pattern>/data/tags.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupsData</servlet-name>
    <url-pattern>/data/groups.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsersData</servlet-name>
    <url-pattern>/data/users.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionsData</servlet-name>
    <url-pattern>/data/sessions.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OnlineUsersData</servlet-name>
    <url-pattern>/data/onlineusers.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionsData</servlet-name>
    <url-pattern>/sessions/sessions.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FoldersData</servlet-name>
    <url-pattern>/data/folders.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenusData</servlet-name>
    <url-pattern>/data/menus.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumentsData</servlet-name>
    <url-pattern>/data/documents.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LinksData</servlet-name>
    <url-pattern>/data/links.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FolderAliasesData</servlet-name>
    <url-pattern>/data/folderaliases.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumentAliasesData</servlet-name>
    <url-pattern>/data/documentaliases.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookmarksData</servlet-name>
    <url-pattern>/data/bookmarks.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NotesData</servlet-name>
    <url-pattern>/data/notes.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EventsData</servlet-name>
    <url-pattern>/data/events.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TicketsData</servlet-name>
    <url-pattern>/data/tickets.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VersionsData</servlet-name>
    <url-pattern>/data/versions.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumentHistoryData</servlet-name>
    <url-pattern>/data/documenthistory.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FolderHistoryData</servlet-name>
    <url-pattern>/data/folderhistory.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserHistoryData</servlet-name>
    <url-pattern>/data/userhistory.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TemplatesData</servlet-name>
    <url-pattern>/data/templates.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttributeSetsData</servlet-name>
    <url-pattern>/data/attributesets.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessagesData</servlet-name>
    <url-pattern>/data/messages.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AclData</servlet-name>
    <url-pattern>/data/acl.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TasksData</servlet-name>
    <url-pattern>/data/tasks.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ParsersData</servlet-name>
    <url-pattern>/data/parsers.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LanguagesData</servlet-name>
    <url-pattern>/data/languages.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactsData</servlet-name>
    <url-pattern>/data/contacts.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DevicesData</servlet-name>
    <url-pattern>/data/devices.xml</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>AttributesData</servlet-name>
    <url-pattern>/data/attributes.xml</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>DropboxData</servlet-name>
    <url-pattern>/data/dropbox.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LockedDocsData</servlet-name>
    <url-pattern>/data/lockeddocs.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletedDocsData</servlet-name>
    <url-pattern>/data/deleteddocs.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletedFoldersData</servlet-name>
    <url-pattern>/data/deletedfolders.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttributeOptionsData</servlet-name>
    <url-pattern>/data/attributeoptions.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TokenFiltersData</servlet-name>
    <url-pattern>/data/tokenfilters.xml</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>CharsetsData</servlet-name>
    <url-pattern>/data/charsets.xml</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>RatingsDataServlet</servlet-name>
    <url-pattern>/data/ratings.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AspectsData</servlet-name>
    <url-pattern>/data/aspects.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexingQueueData</servlet-name>
    <url-pattern>/data/indexingqueue.xml</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>Thumbnail</servlet-name>
    <url-pattern>/thumbnail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadAttachment</servlet-name>
    <url-pattern>/download-attachment</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/download/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TicketDownload</servlet-name>
    <url-pattern>/download-ticket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PswRecovery</servlet-name>
    <url-pattern>/pswrecovery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportZip</servlet-name>
    <url-pattern>/zip-export</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Log</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatChart</servlet-name>
    <url-pattern>/stat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConvertPdf</servlet-name>
    <url-pattern>/convertpdf/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecurityService</servlet-name>
    <url-pattern>/sessions/security</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoService</servlet-name>
    <url-pattern>/sessions/info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Webdav</servlet-name>
    <url-pattern>/webdav/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Cmis</servlet-name>
    <url-pattern>/service/cmis/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DropboxService</servlet-name>
    <url-pattern>/frontend/dropbox</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>Display</servlet-name>
	<url-pattern>/display</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoresData</servlet-name>
    <url-pattern>/data/stores.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Avatar</servlet-name>
    <url-pattern>/avatar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebserviceChart</servlet-name>
    <url-pattern>/webservicechart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobsData</servlet-name>
    <url-pattern>/data/jobs.xml</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
	<servlet-name>TimeZonesData</servlet-name>
	<url-pattern>/data/timezones.xml</url-pattern>
  </servlet-mapping>  
      
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>frontend.jsp</welcome-file>
  </welcome-file-list>
  <!-- Mask errors with generic error page -->
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <el-ignored>false</el-ignored>
    </jsp-property-group>
    <jsp-property-group>
      <url-pattern>*.jspx</url-pattern>
      <el-ignored>false</el-ignored>
    </jsp-property-group>
    <jsp-property-group>
      <url-pattern>*.xhtml</url-pattern>
      <el-ignored>false</el-ignored>
    </jsp-property-group>
  </jsp-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Entire Application</web-resource-name>
      <url-pattern>/*</url-pattern>
      <!--http-method>GET</http-method>
      <http-method>POST</http-method-->
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
</web-app>

