<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>LogicalDOC - Document Management System</description>
    <display-name>LogicalDOC</display-name>

    <context-param>
        <!-- max size of the upload request -->
        <param-name>maxSize</param-name>
        <param-value>100000000</param-value>
    </context-param>
    <context-param>
        <!-- Useful in development mode to slow down the uploads in fast networks. 
            Put the number of milliseconds to sleep in each block received in the server. 
            false or 0, means don't use slow uploads -->
        <param-name>slowUploads</param-name>
        <param-value>10</param-value>
    </context-param>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <!-- This is the default servlet, it puts files in session -->
        <servlet-class>com.logicaldoc.gui.common.server.MockUploadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SecurityService</servlet-name>
        <servlet-class>com.logicaldoc.gui.frontend.server.MockSecurityServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DocumentService</servlet-name>
        <servlet-class>com.logicaldoc.gui.frontend.server.MockDocumentServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FolderService</servlet-name>
        <servlet-class>com.logicaldoc.gui.frontend.server.MockFolderServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SearchService</servlet-name>
        <servlet-class>com.logicaldoc.gui.frontend.server.MockSearchServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TagService</servlet-name>
        <servlet-class>com.logicaldoc.gui.frontend.server.MockTagServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SetupService</servlet-name>
        <servlet-class>com.logicaldoc.gui.setup.server.MockSetupServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SettingService</servlet-name>
        <servlet-class>com.logicaldoc.gui.setup.server.MockSettingServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SystemService</servlet-name>
        <servlet-class>com.logicaldoc.gui.frontend.server.MockSystemServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>InfoService</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockInfoServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SearchEngineService</servlet-name>
        <servlet-class>com.logicaldoc.gui.frontend.server.MockSearchEngineServiceImpl</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>TemplateService</servlet-name>
        <servlet-class>com.logicaldoc.gui.frontend.server.MockTemplateServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MessageService</servlet-name>
        <servlet-class>com.logicaldoc.gui.frontend.server.MockMessageServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TagsData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GroupsData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UsersData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SessionsData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FoldersData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MenuesData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DocumentsData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>BookmarksData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LinksData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DiscussionsData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PostsData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EventsData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>VersionsData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DocumentHistoryData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FolderHistoryData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserHistoryData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TemplatesData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SavedSearchesData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LanguagesData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Thumbnail</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AclData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TasksData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ParsersData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MessagesData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>SubscriptionsData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

  
    <servlet>
        <servlet-name>DocumentNotesData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>log</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>*.gupld</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SecurityService</servlet-name>
        <url-pattern>/frontend/security</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>DocumentService</servlet-name>
        <url-pattern>/frontend/document</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SetupService</servlet-name>
        <url-pattern>/setup/setup</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FolderService</servlet-name>
        <url-pattern>/frontend/folder</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SearchService</servlet-name>
        <url-pattern>/frontend/search</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TagService</servlet-name>
        <url-pattern>/frontend/tag</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SettingService</servlet-name>
        <url-pattern>/frontend/setting</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SystemService</servlet-name>
        <url-pattern>/frontend/system</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InfoService</servlet-name>
        <url-pattern>/setup/info</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InfoService</servlet-name>
        <url-pattern>/frontend/info</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SearchEngineService</servlet-name>
        <url-pattern>/frontend/searchengine</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TemplateService</servlet-name>
        <url-pattern>/frontend/template</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MessageService</servlet-name>
        <url-pattern>/frontend/message</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TagsData</servlet-name>
        <url-pattern>/data/tags.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SavedSearchesData</servlet-name>
        <url-pattern>/data/savedsearches.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GroupsData</servlet-name>
        <url-pattern>/data/groups.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UsersData</servlet-name>
        <url-pattern>/data/users.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SessionsData</servlet-name>
        <url-pattern>/data/sessions.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FoldersData</servlet-name>
        <url-pattern>/data/folders.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MenuesData</servlet-name>
        <url-pattern>/data/menues.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DocumentsData</servlet-name>
        <url-pattern>/data/documents.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BookmarksData</servlet-name>
        <url-pattern>/data/bookmarks.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LinksData</servlet-name>
        <url-pattern>/data/links.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DiscussionsData</servlet-name>
        <url-pattern>/data/discussions.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PostsData</servlet-name>
        <url-pattern>/data/posts.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EventsData</servlet-name>
        <url-pattern>/data/events.xml</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>VersionsData</servlet-name>
        <url-pattern>/data/versions.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DocumentHistoryData</servlet-name>
        <url-pattern>/data/documenthistory.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FolderHistoryData</servlet-name>
        <url-pattern>/data/folderhistory.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FolderHistoryData</servlet-name>
        <url-pattern>/data/userhistory.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TemplatesData</servlet-name>
        <url-pattern>/data/templates.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AclData</servlet-name>
        <url-pattern>/data/acl.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TasksData</servlet-name>
        <url-pattern>/data/tasks.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ParsersData</servlet-name>
        <url-pattern>/data/parsers.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MessagesData</servlet-name>
        <url-pattern>/data/messages.xml</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>LanguagesData</servlet-name>
        <url-pattern>/data/languages.xml</url-pattern>
    </servlet-mapping>
    
   
    <servlet-mapping>
        <servlet-name>DocumentNotesData</servlet-name>
        <url-pattern>/data/documentnotes.xml</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>Thumbnail</servlet-name>
        <url-pattern>/thumbnail</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/download/*</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>

    <!-- Welcome files -->
    <welcome-file-list>
        <welcome-file>frontend.jsp</welcome-file>
    </welcome-file-list>
</web-app>