<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="no" default-lazy-init="false"
    xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/util 
            http://www.springframework.org/schema/util/spring-util.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- This post processor ensures placeholders substitutions -->
    <bean id="PropertyPlaceholderConfigurer" class="com.logicaldoc.util.spring.PropertiesPlaceHolder"
        lazy-init="false" abstract="false" autowire="default" >
        <property name="locations">
            <list>
                <value>classpath*:context.properties</value>
            </list>
        </property>
    </bean>
    <bean id="ContextProperties" class="${registry}">
        <property name="maxBackups" value="10" />
    </bean>
    <bean id="Context" class="com.logicaldoc.util.Context" abstract="false"
        lazy-init="default" autowire="default"  />
    
    <!-- DataSource -->
    <bean id="HikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver" />
        <property name="jdbcUrl" value="jdbc:hsqldb:mem:logicaldoc" />
        <property name="username" value="sa" />
        <property name="password" value="" />
    </bean>    
    <bean id="DataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
    	<constructor-arg ref="HikariConfig" />
  	</bean>
    
    <!-- Hibernate SessionFactory -->
    <bean id="SessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
        abstract="false" lazy-init="default" autowire="default"
        >
        <property name="dataSource" ref="DataSource" />
        <property name="entityInterceptor">
            <bean class="com.logicaldoc.core.PersistenceObjectInterceptor" />
        </property>
        <property name="mappingLocations">
            <value>classpath*:mappings/*.hbm.xml</value>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect"> ${hibernate.dialect} 
                </prop>
                <prop key="hibernate.cache.use_second_level_cache"> true 
                </prop>
                <prop key="hibernate.cache.region.factory_class"> ${hibernate.cache.factory} 
                </prop>
            </props>
        </property>
    </bean>
    <!--Transaction management -->
    <bean id="TransactionManager"
        class="org.springframework.orm.hibernate5.HibernateTransactionManager"
        abstract="false" lazy-init="default" autowire="default"
        >
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    <!--Transactional proxy -->
    <bean id="ApplicationBaseTransactionProxy"
        class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
        lazy-init="true" abstract="false" autowire="default" >
        <property name="transactionManager">
            <ref bean="TransactionManager" />
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    <bean id="GarbageCollector"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <bean class="com.logicaldoc.web.GarbageCollector" />
        </property>
        <property name="targetMethod">
            <value>gc</value>
        </property>
        <property name="concurrent">
            <value>false</value>
        </property>
    </bean>
    <bean id="GarbageCollectorTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="GarbageCollector" />
        <property name="startDelay" value="5000" />
        <property name="repeatInterval" value="60000" />
    </bean>
    <!-- Scheduler -->
    <bean id="Scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="waitForJobsToCompleteOnShutdown" value="true" />
        <property name="triggers">
            <list>
                <ref bean="GarbageCollectorTrigger" />
                <ref bean="IndexOptimizerTrigger" />
                <ref bean="TagsProcessorTrigger" />
                <ref bean="IndexerTaskTrigger" />
                <ref bean="StatsCollectorTrigger" />
            </list>
        </property>
    </bean>
    <bean id="AuthenticationChain"
        class="com.logicaldoc.core.security.authentication.AuthenticationChain" />
</beans>