<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>LogicalDOC - Document Management System</description>
    <display-name>LogicalDOC</display-name>
    <!-- Location of the XML file that defines the root application context Applied 
        by ContextLoaderListener. -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/classes/context.xml</param-value>
    </context-param>
    <context-param>
        <!-- Useful in development mode to slow down the uploads in fast networks. 
            Put the number of milliseconds to sleep in each block received in the server. false 
            or 0, means don't use slow uploads -->
        <param-name>slowUploads</param-name>
        <param-value>0</param-value>
    </context-param>
    <context-param>
        <!-- Timeout used when uploading files (milliseconds) -->
        <param-name>noDataTimeout</param-name>
        <param-value>60000</param-value>
    </context-param>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>statusEnabledOnHosts</param-name>
            <param-value>localhost</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>com.logicaldoc.web.CharsetFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>com.logicaldoc.web.SessionFilter</filter-class>
    </filter>
    <!-- mappings -->
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Application initializer -->
    <listener>
        <listener-class>com.logicaldoc.web.ApplicationListener</listener-class>
    </listener>
    <!-- Loads the root application context of this web app at startup. Use WebApplicationContextUtils.getWebApplicationContext(servletContext) 
        to access it anywhere in the web application, outside of the framework. The root 
        context is the parent of all servlet-specific contexts. This means that its beans 
        are automatically available in these child contexts, both for getBean(name) calls 
        and (external) bean references. -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <!-- This is the default servlet, it puts files in session -->
        <servlet-class>com.logicaldoc.web.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadresource</servlet-name>
        <servlet-class>com.logicaldoc.web.DocumentResourceUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecurityService</servlet-name>
        <servlet-class>com.logicaldoc.web.service.SecurityServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemService</servlet-name>
        <servlet-class>com.logicaldoc.web.service.SystemServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoService</servlet-name>
        <servlet-class>com.logicaldoc.web.service.InfoServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEngineService</servlet-name>
        <servlet-class>com.logicaldoc.web.service.SearchEngineServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentService</servlet-name>
        <servlet-class>com.logicaldoc.web.service.DocumentServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GarbageData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.GarbageDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FolderService</servlet-name>
        <servlet-class>com.logicaldoc.web.service.FolderServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchService</servlet-name>
        <servlet-class>com.logicaldoc.web.service.SearchServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TagService</servlet-name>
        <servlet-class>com.logicaldoc.web.service.TagServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingService</servlet-name>
        <servlet-class>com.logicaldoc.web.service.SettingServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetupService</servlet-name>
        <servlet-class>com.logicaldoc.web.service.SetupServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TemplateService</servlet-name>
        <servlet-class>com.logicaldoc.web.service.TemplateServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageService</servlet-name>
        <servlet-class>com.logicaldoc.web.service.MessageServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactService</servlet-name>
        <servlet-class>com.logicaldoc.web.service.ContactServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropboxService</servlet-name>
        <servlet-class>com.logicaldoc.dropbox.DropboxServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TagsData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.TagsDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupsData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.GroupsDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.UsersDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionsData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.SessionsDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoldersData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.FoldersDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuesData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.MenuesDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentsData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.DocumentsDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinksData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.LinksDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscussionsData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.DiscussionsDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookmarksData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.BookmarksDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotesData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.NotesDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventsData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.EventsDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VersionsData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.VersionsDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentHistoryData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.DocumentHistoryDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FolderHistoryData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.FolderHistoryDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHistoryData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.UserHistoryDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TemplatesData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.TemplatesDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavedSearchesData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockSavedSearchesDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropboxData</servlet-name>
        <servlet-class>com.logicaldoc.dropbox.DropboxDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtendedAttributeOptionsData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.ExtendedAttributeOptionsDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LockedDocsData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.LockedDocsDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletedDocsData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.DeletedDocsDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Preview</servlet-name>
        <servlet-class>com.logicaldoc.web.DocumentPreview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>com.logicaldoc.web.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketDownload</servlet-name>
        <servlet-class>com.logicaldoc.web.TicketDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PswRecovery</servlet-name>
        <servlet-class>com.logicaldoc.web.PswRecovery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportZip</servlet-name>
        <servlet-class>com.logicaldoc.web.ExportZip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RightsData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.RightsDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TasksData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.TasksDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParsersData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.ParsersDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessagesData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.MessagesDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LanguagesData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.LanguagesDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedMessageData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.FeedMessageDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DuplicatesData</servlet-name>
        <servlet-class>com.logicaldoc.gui.common.server.MockDuplicatesDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Log</servlet-name>
        <servlet-class>com.logicaldoc.web.LogDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactsData</servlet-name>
        <servlet-class>com.logicaldoc.web.data.ContactsDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatChart</servlet-name>
        <servlet-class>com.logicaldoc.web.stat.StatChartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>*.gupld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadresource</servlet-name>
        <url-pattern>/uploadresource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecurityService</servlet-name>
        <url-pattern>/frontend/security</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingService</servlet-name>
        <url-pattern>/frontend/setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemService</servlet-name>
        <url-pattern>/frontend/system</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoService</servlet-name>
        <url-pattern>/frontend/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoService</servlet-name>
        <url-pattern>/setup/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEngineService</servlet-name>
        <url-pattern>/frontend/searchengine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentService</servlet-name>
        <url-pattern>/frontend/document</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GarbageData</servlet-name>
        <url-pattern>/data/garbage.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetupService</servlet-name>
        <url-pattern>/setup/setup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FolderService</servlet-name>
        <url-pattern>/frontend/folder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchService</servlet-name>
        <url-pattern>/frontend/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TagService</servlet-name>
        <url-pattern>/frontend/tag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TemplateService</servlet-name>
        <url-pattern>/frontend/template</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageService</servlet-name>
        <url-pattern>/frontend/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactService</servlet-name>
        <url-pattern>/frontend/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropboxService</servlet-name>
        <url-pattern>/frontend/dropbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TagsData</servlet-name>
        <url-pattern>/data/tags.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupsData</servlet-name>
        <url-pattern>/data/groups.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersData</servlet-name>
        <url-pattern>/data/users.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionsData</servlet-name>
        <url-pattern>/data/sessions.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoldersData</servlet-name>
        <url-pattern>/data/folders.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuesData</servlet-name>
        <url-pattern>/data/menues.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentsData</servlet-name>
        <url-pattern>/data/documents.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinksData</servlet-name>
        <url-pattern>/data/links.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookmarksData</servlet-name>
        <url-pattern>/data/bookmarks.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscussionsData</servlet-name>
        <url-pattern>/data/discussions.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotesData</servlet-name>
        <url-pattern>/data/notes.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventsData</servlet-name>
        <url-pattern>/data/events.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VersionsData</servlet-name>
        <url-pattern>/data/versions.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentHistoryData</servlet-name>
        <url-pattern>/data/documenthistory.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FolderHistoryData</servlet-name>
        <url-pattern>/data/folderhistory.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHistoryData</servlet-name>
        <url-pattern>/data/userhistory.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TemplatesData</servlet-name>
        <url-pattern>/data/templates.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessagesData</servlet-name>
        <url-pattern>/data/messages.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RightsData</servlet-name>
        <url-pattern>/data/rights.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TasksData</servlet-name>
        <url-pattern>/data/tasks.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParsersData</servlet-name>
        <url-pattern>/data/parsers.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LanguagesData</servlet-name>
        <url-pattern>/data/languages.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedMessageData</servlet-name>
        <url-pattern>/data/feedmessage.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DuplicatesData</servlet-name>
        <url-pattern>/data/duplicates.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactsData</servlet-name>
        <url-pattern>/data/contacts.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropboxData</servlet-name>
        <url-pattern>/data/dropbox.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtendedAttributeOptionsData</servlet-name>
        <url-pattern>/data/extoptions.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LockedDocsData</servlet-name>
        <url-pattern>/data/lockeddocs.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletedDocsData</servlet-name>
        <url-pattern>/data/deleteddocs.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Preview</servlet-name>
        <url-pattern>/preview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/download/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketDownload</servlet-name>
        <url-pattern>/download-ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PswRecovery</servlet-name>
        <url-pattern>/pswrecovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportZip</servlet-name>
        <url-pattern>/zip-export</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatChart</servlet-name>
        <url-pattern>/stat</url-pattern>
    </servlet-mapping>
    <!-- Welcome files -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>frontend.jsp</welcome-file>
    </welcome-file-list>
    <!-- Human readable errors -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>*.jspx</url-pattern>
            <el-ignored>false</el-ignored>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>*.xhtml</url-pattern>
            <el-ignored>false</el-ignored>
        </jsp-property-group>
    </jsp-config>
    <security-constraint>
        <display-name>Setup only allowed after authentication</display-name>
        <web-resource-collection>
            <web-resource-name>Setup</web-resource-name>
            <url-pattern>/setup.jsp</url-pattern>
            <url-pattern>/setup/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Entire Application</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Sessions management only allowed after authentication</display-name>
        <web-resource-collection>
            <web-resource-name>Sessions</web-resource-name>
            <url-pattern>/sessions.jsp</url-pattern>
            <url-pattern>/sessions/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>        
    </security-constraint>
    <security-constraint>
        <display-name>License management only allowed after authentication</display-name>
        <web-resource-collection>
            <web-resource-name>License</web-resource-name>
            <url-pattern>/license.jsp</url-pattern>
            <url-pattern>/license/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>         
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>SETUP Login</realm-name>
    </login-config>
    <security-role>
        <role-name>admin</role-name>
    </security-role>
</web-app>