<?xml version="1.0" ?>
<!DOCTYPE plugin [
<!ELEMENT plugin (doc?, attributes?, requires?, runtime?,
                  (extension-point|extension)*)>
<!ATTLIST plugin id         CDATA #REQUIRED>
<!ATTLIST plugin version    CDATA #REQUIRED>
<!ATTLIST plugin vendor     CDATA #IMPLIED>
<!ATTLIST plugin class      CDATA #IMPLIED>
<!ATTLIST plugin docs-path  CDATA #IMPLIED>

<!ELEMENT plugin-fragment (doc?, attributes?, requires?, runtime?,
                           (extension-point|extension)*)>
<!ATTLIST plugin-fragment id              CDATA #REQUIRED>
<!ATTLIST plugin-fragment version         CDATA #REQUIRED>
<!ATTLIST plugin-fragment vendor          CDATA #IMPLIED>
<!ATTLIST plugin-fragment plugin-id       CDATA #REQUIRED>
<!ATTLIST plugin-fragment plugin-version  CDATA #IMPLIED>
<!ATTLIST plugin-fragment match           (equal | equivalent | compatible
                                          | greater-or-equal) "compatible">
<!ATTLIST plugin-fragment docs-path       CDATA #IMPLIED>

<!ELEMENT attributes (attribute+)>

<!ELEMENT attribute (doc?, attribute*)>
<!ATTLIST attribute id     CDATA #REQUIRED>
<!ATTLIST attribute value  CDATA #IMPLIED>

<!ELEMENT doc (doc-ref*, doc-text?)>
<!ATTLIST doc caption  CDATA #IMPLIED>

<!ELEMENT doc-ref EMPTY>
<!ATTLIST doc-ref path     CDATA #REQUIRED>
<!ATTLIST doc-ref caption  CDATA #REQUIRED>

<!ELEMENT doc-text (#PCDATA)>

<!ELEMENT requires (import+)>

<!ELEMENT import (doc?)>
<!ATTLIST import id              CDATA #IMPLIED>
<!ATTLIST import plugin-id       CDATA #REQUIRED>
<!ATTLIST import plugin-version  CDATA #IMPLIED>
<!ATTLIST import match           (equal | equivalent | compatible
                                 | greater-or-equal) "compatible">
<!ATTLIST import exported        (true | false) "false">
<!ATTLIST import optional        (true | false) "false">
<!ATTLIST import reverse-lookup  (true | false) "false">

<!ELEMENT runtime (library+)>

<!ELEMENT library (doc?, export*)>
<!ATTLIST library id       CDATA #REQUIRED>
<!ATTLIST library path     CDATA #REQUIRED>
<!ATTLIST library type     (code | resources) #REQUIRED>
<!ATTLIST library version  CDATA #IMPLIED>

<!ELEMENT export EMPTY>
<!ATTLIST export prefix  CDATA #REQUIRED>

<!ELEMENT extension-point (doc?, parameter-def*)>
<!ATTLIST extension-point id                CDATA #REQUIRED>
<!ATTLIST extension-point parent-plugin-id  CDATA #IMPLIED>
<!ATTLIST extension-point parent-point-id   CDATA #IMPLIED>
<!ATTLIST extension-point extension-multiplicity  (any | one | one-per-plugin
                                                  | none) "any">

<!ELEMENT parameter-def (doc?, parameter-def*)>
<!ATTLIST parameter-def id             CDATA #REQUIRED>
<!ATTLIST parameter-def multiplicity   (one | any | none-or-one | one-or-more)
                                       "one">
<!ATTLIST parameter-def type           (string | boolean | number | date | time
                                       | date-time | null | any | plugin-id
									   | extension-point-id | extension-id
									   | fixed | resource) "string">
<!ATTLIST parameter-def custom-data    CDATA #IMPLIED>
<!ATTLIST parameter-def default-value  CDATA #IMPLIED>


<!ELEMENT extension (doc?, parameter*)>
<!ATTLIST extension plugin-id  CDATA #REQUIRED>
<!ATTLIST extension point-id   CDATA #REQUIRED>
<!ATTLIST extension id         CDATA #REQUIRED>

<!ELEMENT parameter (doc?, value?, parameter*)>
<!ATTLIST parameter id     CDATA #REQUIRED>
<!ATTLIST parameter value  CDATA #IMPLIED>

<!ELEMENT value (#PCDATA)>
]>

<plugin id="logicaldoc-core" version="8.8.4" class="com.logicaldoc.core.CorePlugin">
  <extension-point id="DbInit">
    <parameter-def id="name" />
    <parameter-def id="sqlFile" />
    <parameter-def id="position" />
  </extension-point>
  <extension-point id="Parser">
    <parameter-def id="extension" />
    <parameter-def id="class" />
  </extension-point>
  <extension-point id="Language">
    <parameter-def id="locale" />
    <parameter-def id="analyzer" />
  </extension-point>
  <extension-point id="ResourceBundle">
    <parameter-def id="position" />
    <parameter-def id="bundle" />
  </extension-point>
  <extension-point id="Task">
    <parameter-def id="name" />
  </extension-point>
  <extension-point id="DocumentListener">
    <parameter-def id="class" />
    <parameter-def id="position" />
  </extension-point>
  <extension-point id="FolderListener">
    <parameter-def id="class" />
    <parameter-def id="position" />
  </extension-point>  
  <extension-point id="UserListener">
    <parameter-def id="class" />
    <parameter-def id="position" />
  </extension-point>
  <extension-point id="Authentication">
    <parameter-def id="authenticatorId" />
    <parameter-def id="position" />
  </extension-point>
  <extension-point id="ThumbnailBuilder">
    <parameter-def id="extension" />
    <parameter-def id="class" />
  </extension-point>
  <extension-point id="FormatConverter">
    <parameter-def id="in" />
    <parameter-def id="out" />
    <parameter-def id="class" />
  </extension-point>
  <extension-point id="Search">
    <parameter-def id="type" />
    <parameter-def id="class" />
    <parameter-def id="options" />
  </extension-point>
  <extension-point id="Feature">
    <parameter-def id="name" />
  </extension-point>
  <extension-point id="SystemInfo">
    <parameter-def id="class" />
  </extension-point>
  <extension-point id="TokenFilter">
  	<parameter-def id="name" />
    <parameter-def id="factory" />
  </extension-point>  
  <extension-point id="Storer">
    <parameter-def id="type" />
    <parameter-def id="class" />
  </extension-point>  
  <extension-point id="Aspect">
    <parameter-def id="code" />
  </extension-point>


  <extension plugin-id="logicaldoc-core" point-id="Authentication" id="DefaultAuthentication">
    <parameter id="authenticatorId" value="DefaultAuthenticator" />
    <parameter id="position" value="100" />
  </extension>

  <extension plugin-id="logicaldoc-core" point-id="Language" id="standardLanguage">
    <parameter id="locale" value="standard" />
    <parameter id="analyzer" value="org.apache.lucene.analysis.standard.StandardAnalyzer" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="enLanguage">
    <parameter id="locale" value="en" />
    <parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="itLanguage">
    <parameter id="locale" value="it" />
    <parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="esLanguage">
    <parameter id="locale" value="es" />
    <parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="deLanguage">
    <parameter id="locale" value="de" />
    <parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="frLanguage">
    <parameter id="locale" value="fr" />
    <parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="daLanguage">
	<parameter id="locale" value="da" />
	<parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="nlLanguage">
	<parameter id="locale" value="nl" />
	<parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="svLanguage">
	<parameter id="locale" value="sv" />
	<parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="elLanguage">
	<parameter id="locale" value="el" />
	<parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="faLanguage">
	<parameter id="locale" value="fa" />
	<parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="huLanguage">
	<parameter id="locale" value="hu" />
	<parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="ptLanguage">
	<parameter id="locale" value="pt" />
	<parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="pt_BRLanguage">
	<parameter id="locale" value="pt_BR" />
	<parameter id="analyzer" value="org.apache.lucene.analysis.br.BrazilianAnalyzer" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="roLanguage">
	<parameter id="locale" value="ro" />
	<parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="ruLanguage">
	<parameter id="locale" value="ru" />
	<parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="trLanguage">
	<parameter id="locale" value="tr" />
	<parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="zhLanguage">
	<parameter id="locale" value="zh" />
	<parameter id="analyzer" value="org.apache.lucene.analysis.cn.ChineseAnalyzer" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="noLanguage">
	<parameter id="locale" value="no" />
	<parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="arLanguage">
	<parameter id="locale" value="ar" />
	<parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="jaLanguage">
	<parameter id="locale" value="ja" />
	<parameter id="analyzer" value="org.apache.lucene.analysis.cjk.CJKAnalyzer" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="csLanguage">
	<parameter id="locale" value="cs" />
	<parameter id="analyzer" value="org.apache.lucene.analysis.cz.CzechAnalyzer" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="koLanguage">
	<parameter id="locale" value="ko" />
	<parameter id="analyzer" value="org.apache.lucene.analysis.cjk.CJKAnalyzer" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="viLanguage">
	<parameter id="locale" value="vi" />
	<parameter id="analyzer" value="org.apache.lucene.analysis.cjk.CJKAnalyzer" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="iwLanguage">
	<parameter id="locale" value="iw" />
	<parameter id="analyzer" value="org.apache.lucene.analysis.cjk.CJKAnalyzer" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="fiLanguage">
	<parameter id="locale" value="fi" />
	<parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="bgLanguage">
	<parameter id="locale" value="bg" />
	<parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="plLanguage">
    <parameter id="locale" value="pl" />
    <parameter id="analyzer" value="-" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Language" id="idLanguage">
	<parameter id="locale" value="id" />
	<parameter id="analyzer" value="-" />
  </extension>  

  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="jpgThumb">
    <parameter id="extension" value="jpg" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.ImageThumbnailBuilder" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="jpegThumb">
    <parameter id="extension" value="jpeg" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.ImageThumbnailBuilder" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="jfifThumb">
    <parameter id="extension" value="jfif" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.ImageThumbnailBuilder" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="webpThumb">
    <parameter id="extension" value="webp" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.ImageThumbnailBuilder" />
  </extension>    
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="gifThumb">
    <parameter id="extension" value="gif" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.ImageThumbnailBuilder" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="pngThumb">
    <parameter id="extension" value="png" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.ImageThumbnailBuilder" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="bmpThumb">
    <parameter id="extension" value="bmp" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.ImageThumbnailBuilder" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="tifThumb">
    <parameter id="extension" value="tif" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.ImageThumbnailBuilder" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="tiffThumb">
    <parameter id="extension" value="tiff" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.ImageThumbnailBuilder" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="psdThumb">
    <parameter id="extension" value="psd" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.ImageThumbnailBuilder" />
  </extension>  
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="pdfThumb">
    <parameter id="extension" value="pdf" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.PdfThumbnailBuilder" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="mp3Thumb">
    <parameter id="extension" value="mp3" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.Mp3ThumbnailBuilder" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="mp4Thumb">
    <parameter id="extension" value="mp4" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.VideoThumbnailBuilder" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="aviThumb">
    <parameter id="extension" value="avi" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.VideoThumbnailBuilder" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="mwvThumb">
    <parameter id="extension" value="mwv" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.VideoThumbnailBuilder" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="mkvThumb">
    <parameter id="extension" value="mkv" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.VideoThumbnailBuilder" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="movThumb">
    <parameter id="extension" value="mov" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.VideoThumbnailBuilder" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="m4vThumb">
    <parameter id="extension" value="m4v" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.VideoThumbnailBuilder" />
  </extension>   
  <extension plugin-id="logicaldoc-core" point-id="ThumbnailBuilder" id="epubThumb">
    <parameter id="extension" value="epub" />
    <parameter id="class" value="com.logicaldoc.core.document.thumbnail.EpubThumbnailBuilder" />
  </extension>    

  <extension plugin-id="logicaldoc-core" point-id="Search" id="fulltextSearch">
    <parameter id="type" value="0" />
    <parameter id="class" value="com.logicaldoc.core.searchengine.FulltextSearch" />
    <parameter id="options" value="com.logicaldoc.core.searchengine.FulltextSearchOptions" />
  </extension>

  <extension plugin-id="logicaldoc-core" point-id="Search" id="tagSearch">
    <parameter id="type" value="1" />
    <parameter id="class" value="com.logicaldoc.core.searchengine.TagSearch" />
    <parameter id="options" value="com.logicaldoc.core.searchengine.SearchOptions" />
  </extension>

  <extension plugin-id="logicaldoc-core" point-id="Search" id="folderSearch">
    <parameter id="type" value="3" />
    <parameter id="class" value="com.logicaldoc.core.searchengine.folder.FolderSearch" />
    <parameter id="options" value="com.logicaldoc.core.searchengine.folder.FolderSearchOptions" />
  </extension>
  
  <extension plugin-id="logicaldoc-core" point-id="DbInit" id="coreDbInit">
	<parameter id="position" value="1" />
	<parameter id="name" value="logicaldoc-core" />
	<parameter id="sqlFile" value="sql/logicaldoc-core.sql" />
  </extension>
  
  <extension plugin-id="logicaldoc-core" point-id="Feature" id="f53">
	<parameter id="name" value="Feature_53" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Feature" id="f56">
	<parameter id="name" value="Feature_56" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Feature" id="f27">
	<parameter id="name" value="Feature_27" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Feature" id="f13">
	<parameter id="name" value="Feature_13" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Feature" id="f14">
	<parameter id="name" value="Feature_14" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Feature" id="fwd57">
	    <parameter id="name" value="Feature_57" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Feature" id="fwd97">
	    <parameter id="name" value="Feature_97" />
  </extension>  
  
  <extension plugin-id="logicaldoc-core" point-id="Task" id="taskStatsCollector">
	<parameter id="name" value="StatsCollector" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Task" id="taskDigestProcessor">
	<parameter id="name" value="DigestProcessor" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Task" id="taskPathCalculator">
	<parameter id="name" value="PathCalculator" />
  </extension>
  
  <extension plugin-id="logicaldoc-core" point-id="TokenFilter" id="tfStemmer">
	<parameter id="name" value="stemmer" />
	<parameter id="factory" value="com.logicaldoc.core.searchengine.analyzer.SnowballFilterFactory" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="TokenFilter" id="tfWordDelim">
	<parameter id="name" value="worddelimiter" />
	<parameter id="factory" value="org.apache.lucene.analysis.miscellaneous.WordDelimiterGraphFilterFactory" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="TokenFilter" id="tfNGram">
	<parameter id="name" value="ngram" />
	<parameter id="factory" value="org.apache.lucene.analysis.ngram.NGramFilterFactory" />
  </extension>
  
  <extension plugin-id="logicaldoc-core" point-id="Aspect" id="aspUniquenessFilename">
    <parameter id="code" value="uniquenessFilename" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Aspect" id="aspSaveHistory">
    <parameter id="code" value="saveHistory" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Aspect" id="aspScheduledTasks">
    <parameter id="code" value="scheduledTasks" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Aspect" id="aspEventsGathering">
    <parameter id="code" value="eventsGathering" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Aspect" id="aspStoring">
    <parameter id="code" value="storing" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Aspect" id="aspValidation">
    <parameter id="code" value="validation" />
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="Aspect" id="aspInitialization">
    <parameter id="code" value="initialization" />
  </extension>
  
  <extension plugin-id="logicaldoc-core" point-id="FormatConverter" id="imageConv">
		<parameter id="in" value="png,gif,jpg,jpeg,jfif,tif,tiff,bmp,psd,webp"/>
		<parameter id="out" value="pdf"/>
		<parameter id="class" value="com.logicaldoc.core.conversion.ImageConverter"/>
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="FormatConverter" id="p7mConv">
		<parameter id="in" value="p7m"/>
		<parameter id="out" value="pdf"/>
		<parameter id="class" value="com.logicaldoc.core.conversion.P7MConverter"/>
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="FormatConverter" id="xmlConv">
		<parameter id="in" value="xml"/>
		<parameter id="out" value="pdf,html"/>
		<parameter id="class" value="com.logicaldoc.core.conversion.XMLConverter"/>
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="FormatConverter" id="zipConv">
		<parameter id="in" value="zip"/>
		<parameter id="out" value="pdf,txt"/>
		<parameter id="class" value="com.logicaldoc.core.conversion.ZipConverter"/>
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="FormatConverter" id="gzConv">
		<parameter id="in" value="gz,tgz"/>
		<parameter id="out" value="pdf"/>
		<parameter id="class" value="com.logicaldoc.core.conversion.ZipConverter"/>
  </extension>  
  <extension plugin-id="logicaldoc-core" point-id="FormatConverter" id="rarConv">
		<parameter id="in" value="rar"/>
		<parameter id="out" value="pdf,txt"/>
		<parameter id="class" value="com.logicaldoc.core.conversion.RarConverter"/>
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="FormatConverter" id="tarConv">
		<parameter id="in" value="tar"/>
		<parameter id="out" value="pdf,txt"/>
		<parameter id="class" value="com.logicaldoc.core.conversion.TarConverter"/>
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="FormatConverter" id="sevenzConv">
		<parameter id="in" value="7z"/>
		<parameter id="out" value="pdf,txt"/>
		<parameter id="class" value="com.logicaldoc.core.conversion.SevenZipConverter"/>
  </extension>                        
  <extension plugin-id="logicaldoc-core" point-id="FormatConverter" id="catchallConv">
		<parameter id="in" value="*"/>
		<parameter id="out" value="pdf"/>
		<parameter id="class" value="com.logicaldoc.core.conversion.NotAvailableConverter"/>
  </extension>
  <extension plugin-id="logicaldoc-core" point-id="FormatConverter" id="ghostscriptConverter">
		<parameter id="in" value="pdf"/>
		<parameter id="out" value="jpg,png,tif"/>
		<parameter id="class" value="com.logicaldoc.core.conversion.GhostscriptConverter"/>
  </extension>


  <extension plugin-id="logicaldoc-core" point-id="DocumentListener" id="documentInitializationListener">
		<parameter id="position" value="1" />
		<parameter id="class" value="com.logicaldoc.core.document.DocumentInitializer" />
  </extension>  
  <extension plugin-id="logicaldoc-core" point-id="DocumentListener" id="documentValidatorListener">
		<parameter id="position" value="2" />
		<parameter id="class" value="com.logicaldoc.core.document.DocumentValidator" />
  </extension>
  
  <extension plugin-id="logicaldoc-core" point-id="FolderListener" id="folderValidatorListener">
		<parameter id="position" value="1" />
		<parameter id="class" value="com.logicaldoc.core.folder.FolderValidator" />
  </extension> 
  <extension plugin-id="logicaldoc-core" point-id="FolderListener" id="folderInitializerListener">
		<parameter id="position" value="2" />
		<parameter id="class" value="com.logicaldoc.core.folder.FolderInitializer" />
  </extension>   
</plugin>