.treeCellOver,
.treeCellOverDark {
  background: #b6e3ff;
  color: black;
}

.gwt-HorizontalSplitPanel {
	
}

.gwt-HorizontalSplitPanel .hsplitter {
	cursor: move;
	border: 0px;
	background: #91c0ef url(./images/vborder.png) repeat-y;
}


/*calendar styles*/
.calendarevent2 {
   font-size:9px;
   background-color: #7BDE7B;
   border: 1px solid 	#008A00;
   font-family: Arial, Verdana, sans-serif;
}

.calendarevent2Header {
    font-size:9px; color: white;
    background-color:	#005C00;
}

.calendarevent2Body {
    font-size: 9px;
    background-color: #7BDE7B;
    padding: 3px;
    font-family: Arial, Verdana, sans-serif;
    color: black;
}

.calendarevent2Resizer{
    border-top:1px solid white;
    border-bottom: 1px solid white;
}

.calendarevent3 {
   font-size:9px;
   background-color:#FA8072;
   border: 1px solid #004D99;
   font-family: Arial, Verdana, sans-serif;
}

.calendarevent3Header {
    font-size:9px; color: white;
    background-color:#B22222;
}

.calendarevent3Body {
    font-size: 9px;
    background-color: #FA8072;
    padding: 3px;
    font-family: Arial, Verdana, sans-serif;
    color: black;
}

.calendarevent3Resizer{
    border-top:1px solid white;
    border-bottom: 1px solid white;
}


/* Generic styles */

.bigtext {
  font-size: 24pt;
}

.normal, .normalFocused, .normalDisabled {
    color: rgb(40, 40, 40);
    font-family: RobotoLight;
    font-size: 12px;
}

.contactingserver, .contactingserver  td[class|=normal] {
  font-family: Arial, Bitstream Vera Sans, sans-serif; 
  font-size: 16pt;
  font-weight: bold;
  white-space: nowrap;
  background-color: white;
}

.sessiontimeout {
  font-family: Arial, Bitstream Vera Sans, sans-serif; 
  font-size: 16pt;
  font-weight: bold;
  white-space: nowrap;
}

.updateavailable {
  font-family: Arial, Bitstream Vera Sans, sans-serif; 
  font-size: 14pt;
  font-weight: bold;
  white-space: nowrap;
  color: green;
}

.updateunavailable {
  font-family: Arial, Bitstream Vera Sans, sans-serif; 
  font-size: 14pt;
  font-weight: bold;
  white-space: nowrap;
  color: red;
}

.updatetemporarilyunavailable {
  font-family: Arial, Bitstream Vera Sans, sans-serif; 
  font-size: 14pt;
  font-weight: bold;
  white-space: nowrap;
  color: orange;
}

.row {
  border-top: 1px solid #cccccc;
  margin-top: 4px;
}

.setupHeader {
	font-family: Arial, Bitstream Vera Sans, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #AAAAAA;
	vertical-align: center;
}

.logo_head, .logo_headOver, .logo_headDown {
	margin-left: 5px;
	margin-top: 5px;
	border: 0px solid;
	float: left;
	width: 205px;
}

.logo_head_oem, .logo_head_oemOver, .logo_head_oemDown {
	margin-right: 5px;
	margin-top: 5px;
	border: 0px solid;
	float: right;
	width: 205px;
}

.footer {
	height: 20px;
	background-color: #DDDDDD;
}

.searchOptions {
	padding-left: 5px;
	color: white;
	cursor: pointer;
}

.warn {
	background-color: #FFFFA1;
}

.diff {
	color: #FF8723;
}

.footerInfo {
	color: #577ED0;
}

.footerError {
	color: #EF4A4A;
}

.footerWarn {
	color: #CC9900;
}

.immutable {
	color: #888888;
	font-style: italic;
}

.upload {
	margin-left: 5px;
	margin-top: 10px;
}

.infoPanel {
	background-color: #DDDDDD;
}

.cursor {
	background-color: #DDDDDD;
}

.officelogout {
	color: #536CDF;
}


.s {
	border-bottom: 1px solid #dddddd;
}

.deletedItem {
	color: grey;
	text-decoration: line-through;
}

.hint {
	white-space: nowrap;
	padding-left: 3px;
	color: grey;
}

.savepanel {
	background-color: #eeeeee;
}

.notifyMessage a,
.notifyMessage a:link, 
.notifyMessage a:hover, 
.notifyMessage a:visited {
    color: rgb(10, 200, 200);
}

.avatarIcon {
	vertical-align:middle;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:2px;
	margin-right:2px;
	display:block;
    -webkit-touch-callout:none
}

.filenameIcon {
	vertical-align:middle;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:2px;
	margin-right:2px;
	display:block;
    -webkit-touch-callout:none
}

.box {
   display: flex;
   align-items:center;
}

.nodisplay {
   display: none;
}

/*
 * Print panel
 */
.printPanel {
	width: 100%;
	padding: 10px;
	margin: 10px auto;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.5);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.5);
	
	overflow: hidden;
}

.printPanel ul {
	list-style: none;
	margin: 0 auto;
	overflow: hidden;
    padding: 0px;
}

.printPanel ul li {
	float: left;
	margin: 0 5px;
}

.printPanel ul a {
	display: inline-block;
	text-decoration: none;
	line-height: 18px;
	padding: 4px 8px;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	outline: none;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
	background: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
	
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

.printPanel ul a:hover {
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
	background: linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
}

.printPanel ul a:active {
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
	
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.printPanel.default {
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
	background: linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
	background-color: #44A8D9;
	
	border: 1px solid #256CB4;
}
.printPanel.default ul a {
	background-color: #44A8D9;
	border: 1px solid #2589b4;
}

.event-ok {
	color: DarkGreen;
}

.event-med {
	color: DarkCyan;
}

.event-error {
	color: DarkRed;
}

.calendar-without-label table[role="presentation"] td.normal b {
   display: none;
}