<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="logicaldoc-gui" version="8.7.3">
	<requires>
		<import plugin-id="logicaldoc-core" />
	</requires>

	<extension plugin-id="logicaldoc-core" point-id="Feature" id="f5">
	    <parameter id="name" value="Feature_5" />
    </extension>
	<extension plugin-id="logicaldoc-core" point-id="Feature" id="f11">
	    <parameter id="name" value="Feature_11" />
    </extension>
	<extension plugin-id="logicaldoc-core" point-id="Feature" id="f22">
	    <parameter id="name" value="Feature_22" />
    </extension>
	<extension plugin-id="logicaldoc-core" point-id="Feature" id="f24">
	    <parameter id="name" value="Feature_24" />
    </extension>
	<extension plugin-id="logicaldoc-core" point-id="Feature" id="f25">
	    <parameter id="name" value="Feature_25" />
    </extension>
</plugin>